<div class="container contenedorRecomendaciones"> 
    <div class="row" *ngIf="charged; else spinner">
        <div class="col-12 col-md-6 mt-4 cardRecomendacion" *ngFor="let categoria of categorias; let i = index">
            <mat-card appearance="outlined">
                <mat-card-header style="align-items: center; justify-content:center;">
                    <h2>{{ 'recomendaciones' | translate}} {{categoria}}</h2>
                </mat-card-header>
                <mat-card-content>
                    <div class="producto-container">
                        <button class="recomendaciones-boton prev" (click)="prevSlide(i)">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>

                        <div #productosSlider class="productos-slider">
                            <div *ngFor="let product of productos[categoria]">
                                <div class="producto">
                                    <picture>
                                        <source [srcset]="'assets/images/' + product.imagen.split('.')[0] + '.webp'" type="image/webp">
                                        <img [src]="'assets/images/' + product.imagen" 
                                             alt="Imagen del producto" 
                                             class="recomendaciones-imagen" 
                                             loading="lazy"
                                             [routerLink]="['/productos', product.id]" 
                                             (error)="replaceImage($event)">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        

                        <button class="recomendaciones-boton next" (click)="nextSlide(i)">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <ng-template #spinner>
        <div class="mt-5" style="display: flex; align-items:center; justify-content:center;">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
</div>