

<div class="container" >
    
    <div class="grid-container">
        <!-- Elemento a la izquierda -->
        <div class="search-input">
            <input  type="text" [(ngModel)]="searchQuery" (ngModelChange)="aplicarFiltros()" class="form-control" placeholder="{{ 'BuscarProducto' | translate }}">
        </div>

        <!-- Chips en el centro -->
        <div class="chip-list">
            <mat-chip-listbox aria-label="Category selection" multiple>
                <mat-chip-option *ngFor="let categoria of categorias" (click)="toggleFiltro(categoria)">
                    {{ categoria }}
                </mat-chip-option>
            </mat-chip-listbox>
        </div>

        <!-- Slider a la derecha -->
        <div class="slider">
            <mat-slider discrete showTickMarks min="0" max="1000">
                <input value="0" [(ngModel)]="precioMin" (ngModelChange)="aplicarFiltros()" matSliderStartThumb>
                <input value="1000" [(ngModel)]="precioMax" (ngModelChange)="aplicarFiltros()" matSliderEndThumb>
            </mat-slider>
        </div>
    </div>
    
    
    
    <div class="row" *ngIf="charged; else spinner">
        <div class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-3  mb-4" *ngFor="let product of productosFiltrados;">
          <mat-card class="producto-card">
            <mat-card-header>
              <div  class="producto-imagen-container">
                <picture>
                  <source [srcset]="'assets/images/' + product.imagen.split('.')[0] + '.webp'" type="image/webp">
                  <img [src]="'assets/images/' + product.imagen" 
                       alt="Imagen del producto" 
                       class="producto-imagen" 
                       loading="lazy"
                       [routerLink]="['/productos', product.id]" 
                       (error)="replaceImage($event)">
                </picture><br>
              </div>              
            </mat-card-header>
            <mat-card-content>
              <h4 class="fw-bold mt-3">{{ product.nombre }}</h4>
              <p>{{ 'Categoria' | translate}}: {{ product.categorias.join(', ') }}</p>
              <!--<p>{{ product.descripcion }}</p>-->
              <p class="fw-bold">{{ 'Precio' | translate}}: {{ product.precio }} €</p>
            </mat-card-content>

            <button [disabled]="!isLoggedIn" (click)="addToCart(product)" mat-raised-button class="custom-button mat-small" style="margin-top:15px">{{ 'Cesta' | translate}}</button>
            
          </mat-card>
        </div>
      </div>

      <ng-template #spinner>
        <div style="display: flex; align-items:center; justify-content:center; height:100vh">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
</div>
