<head>
    <!-- ... Otros elementos del encabezado ... -->
    
    <!-- Agrega los enlaces a Bootstrap CSS y JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand" href=''>Mi Aplicación</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" *appSession="false" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" style="margin-right: 30px; font-size: 17px;">
            <a class="nav-link text-white hover-underline-animation" data-underline-color="white" routerLink="/register">{{ 'Registrarse' | translate }}</a>
          </li>
          <li class="nav-item hover-underline-animation" data-underline-color="white" style="margin-right: 70px; font-size: 17px;">
            <a class="nav-link text-white" routerLink="/login">{{ 'IniciarSesion' | translate }}</a>
          </li>
          
          <button style="font-size: 15px;" mat-button [matMenuTriggerFor]="menu">{{ 'Idioma' | translate }}</button>
          <mat-menu #menu="matMenu">
            <button (click)="changeLanguage('es')" mat-menu-item>{{ 'Espanyol' | translate }}</button>
            <button (click)="changeLanguage('en')" mat-menu-item>{{ 'Ingles' | translate }}</button>
          </mat-menu>
            
        </ul>
      </div>

      <div class="collapse navbar-collapse justify-content-end" *appSession="true" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/perfil">{{ 'PerfilUsuario' | translate }}</a>
          </li>

          <li class="nav-item">
            <button type="button" class="btn btn-danger" (click)="onClick(); reloadPage()" >{{ 'CerrarSesion' | translate }}</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!--
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">Mi Aplicación</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li *appSession="false" class="nav-item active">
                    <a routerLink="/register">{{ 'Registrarse' | translate }}</a>
                </li>
                <li *appSession="false" class="nav-item">
                    <a routerLink="/login">{{ 'IniciarSesion' | translate }}</a>
                </li>
                <li *appSession="true" class="nav-item">
                    <a routerLink="/perfil">{{ 'PerfilUsuario' | translate }}</a>
                </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="idiomaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Idioma
                </a>

                <div class="dropdown-menu" aria-labelledby="idiomaDropdown">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLanguage('es')">Español</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLanguage('en')">English</a>
                </div>
                </li>
            </ul>
        
        </div>
    </div>
  </nav>-->
  
  
  
   
  <router-outlet></router-outlet>