.boton-idioma {
    font-size:15px;
}

.large-icon{
    transform: scale(1.5);
}

.navbar-estilo{
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 12px;
}

.nav-icon-custom{
  margin-right: 70px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

.prod-nav{
  margin-left: 10%;
}


.tooltip {
  color:black;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999; /* Asegura que esté en la parte superior */
  visibility: hidden; /* Oculta inicialmente */
  opacity: 0; /* Oculta inicialmente */
  transition: visibility 0s, opacity 0.5s linear; /* Transición suave */
}

a:hover .tooltip {
  visibility: visible; /* Muestra cuando el enlace está en hover */
  opacity: 1; /* Muestra con opacidad completa */
}

.tooltip app-carrito-lista {
  max-height: 200px; /* Establece la altura máxima del listado de productos */
  overflow-y: auto; /* Habilita el desplazamiento vertical si es necesario */
}

@media (max-width: 768px) {
  .nav-icon-custom{
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 15px;
  }

  .boton-idioma{
    margin-top:5%;
  }

  .prod-nav{
    align-items: center;
    display: flex;
    margin-left: 0;
  }

  .tooltip {
    display: none; /* Oculta el tooltip en pantallas móviles */
  }
}
