<div class="product-details-container mt-5" *ngIf="producto">
  <button class="back-button" mat-icon-button aria-label="Back button" (click)="navegarAnterior()">
    <mat-icon class="bold">arrow_back</mat-icon>
  </button>
    <mat-card class="product-card">
      <div class="product-header">
        <img mat-card-image [src]="'assets/images/' + producto.imagen" alt="{{ producto.nombre }}">
      </div>

      <!--<button class="button-above-image" mat-raised-button color="primary" (click)="modificarDialog()">
        Editar producto
      </button>-->
      <mat-card-content>
        <h2 class="mt-3">{{ producto.nombre }}</h2>
        <p>{{ producto.descripcion }}</p>
  
        <div class="price-and-button">
          <h3>{{ producto.precio }} €</h3>
          <button [disabled]="!isLoggedIn" class="product-actions" mat-raised-button color="primary" (click)="addToCart()">
            <mat-icon>add_shopping_cart</mat-icon> {{ 'Cesta' | translate }}
          </button>
        </div>
        
      </mat-card-content>
    </mat-card>
  </div>
  
