
<head>
    <!-- ... Otros elementos del encabezado ... -->
    
    <!-- Agrega los enlaces a Bootstrap CSS y JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <div class="profile-container">
    <mat-card class="profile-card">
      <mat-card-header>
        <div style="text-align: center; width: 100%; margin-bottom: 30px;">
          <mat-card-title style="font-size: 25px;">{{'Perfil' | translate}}</mat-card-title>
        </div>
      </mat-card-header>

      <mat-card-content class="carta">
      
        <mat-tab-group>
          <mat-tab label="{{ 'DatosUsuario' | translate}}"> 
            
                <div class="detail">
                  <span class="detail-label">{{ 'Nombre' | translate }}:</span>
                  <span class="detail-value">{{ userNombre }}</span>
                </div>
                <div class="detail">
                  <span class="detail-label">{{ 'Apellidos' | translate }}:</span>
                  <span class="detail-value">{{ userApellido }}</span>
                </div>
                <div class="detail">
                  <span class="detail-label">Email:</span>
                  <span class="detail-value">{{ userEmail }}</span>
                </div>
                <div class="detail" style="margin-bottom: 30px;">
                  <span class="detail-label">{{ 'Telefono' | translate }}:</span>
                  <span class="detail-value">{{ userTelefono }}</span>
                </div>

                <div class="d-flex flex-column flex-md-row justify-content-between align-items-start">
                  <div class="botones mb-2">
                    <button style="margin-right: 10px" type="button" class="custom-button" routerLink="/perfil/editar">
                      {{ 'EditarPerfil' | translate }}
                    </button>
                    <button type="button" class="custom-button" (click)="onClickResetPassword()">{{ 'CambiarContrasenya' | translate}}</button>
                  </div>
                  <div class="d-flex align-items-end mt-auto mt-md-0">
                    <button *ngIf="admin" type="button" class="custom-button boton-admin" routerLink="/panelAdministracion">{{ 'PanelAdministracion' | translate}}</button>
                  </div>
                </div>
            
            
            <div style="margin-top: 10px;" *ngIf="resetPasswordString" class="alert alert-primary">{{ 'ContrasenyaCorreo' | translate }}</div>

          </mat-tab>
          
          <mat-tab label="{{ 'Direcciones' | translate}}">

            <div style="margin-top: 50px">

              <mat-accordion>
                <mat-expansion-panel style="margin-top: 10px; border:black solid 1px;" *ngFor="let address of userAddresses; let i = index">
                  <mat-expansion-panel-header (click)="fillAddressForm(address)">

                    <mat-panel-title>
                      {{'Direccion' | translate}} {{ i + 1 }} &nbsp; &nbsp;
                      <span *ngIf="address.main_address" style="color: rgb(98, 194, 1);">{{'DireccionPrincipal' | translate}}</span>
                    </mat-panel-title>
                    
                    <mat-panel-description class="descripcionDireccion">
                      {{ address.address_country }}, {{ address.address_province }}, {{address.address_town}}, {{address.address_postal}}, {{address.street_and_number}}, {{address.additional_data}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>


                  <form *ngIf="selectedAddress === address" [formGroup]="addressForm" (submit)="onUpdateAddress(address)" class="address-form">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>{{ 'Pais' | translate }}</mat-label>
                      <input type="text" matInput formControlName="country" placeholder="Placeholder">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>{{ 'Provincia' | translate }}</mat-label>
                      <input matInput formControlName="province" placeholder="Provincia">
                    </mat-form-field><br>

                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>{{ 'Pueblo' | translate }}</mat-label>
                      <input matInput formControlName="town" placeholder="Población">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>{{ 'CodigoPostal' | translate }}</mat-label>
                      <input matInput formControlName="postal" placeholder="Población">
                    </mat-form-field>

                    <mat-form-field class="full-width" style="width: 100%;" appearance="outline">
                      <mat-label>{{ 'CalleyNumero' | translate }}</mat-label>
                      <input matInput formControlName="street" placeholder="Calle">
                    </mat-form-field>

                    <mat-form-field class="full-width" style="width: 100%;" appearance="outline">
                      <mat-label>{{ 'DatosAdicionales' | translate }}</mat-label>
                      <textarea matInput formControlName="additionalInfo" placeholder="Información Adicional"></textarea>
                    </mat-form-field><br>

                    <button class="custom-button botonMainDireccion" (click)="onSetMainAddress(address)">
                      {{'DireccionPrincipal' | translate}}
                    </button>

                    <button class="float-end boton-guardar" style="margin-left: 10px;" mat-mini-fab color="primary" type="submit">
                      <mat-icon>save</mat-icon>
                    </button>

                    <button class="float-end boton-borrar" style="margin-left: 10px;" mat-mini-fab color="warn" (click)="onDeleteAddress(address)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </form>

                  

                  

                </mat-expansion-panel>
              </mat-accordion>

              

            </div>  
          
            <button style="margin-right: 10px; margin-top:50px;" type="button" class="custom-button" (click)="showPopup()">{{ 'NuevaDireccion' | translate }}</button>

            
            <div *ngIf="isPopupVisible" class="popup">

              <div class="popup-header">
                  <h2>{{ 'NuevaDireccion' | translate }}</h2>
                

                <button mat-icon-button class="popup-close" (click)="hidePopup()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              

              <mat-divider></mat-divider>

              <form style="margin-top: 16px;" (submit)="onSubmitAddDirection()">

                    <mat-form-field  class="full-width" appearance="outline">
                      <mat-label>{{ 'Pais' | translate }}:</mat-label>
                      <input type="text" id="country" name="country" [(ngModel)]="formData.address_country" required matInput placeholder="Placeholder">
                    </mat-form-field>
                  
                  
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>{{ 'Provincia' | translate }}:</mat-label>
                      <input type="text" id="province" name="province" [(ngModel)]="formData.address_province" matInput placeholder="Placeholder">
                    </mat-form-field>
                  
                  
                    <mat-form-field  class="full-width" appearance="outline">
                      <mat-label>{{ 'Pueblo' | translate }}</mat-label>
                      <input type="text" id="town" name="town" [(ngModel)]="formData.address_town" required matInput placeholder="Placeholder">
                    </mat-form-field>
                  
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>{{ 'CodigoPostal' | translate }}:</mat-label>
                      <input type="text" id="postal" name="postal" [(ngModel)]="formData.address_postal" required matInput placeholder="Placeholder">
                    </mat-form-field>
                  
                    <mat-form-field class="full-width" style="width: 95%;" appearance="outline">
                      <mat-label>{{ 'CalleyNumero' | translate }}:</mat-label>
                      <input type="text" id="streetandnumber" name="streetandnumber" [(ngModel)]="formData.street_and_number" required matInput placeholder="Placeholder">
                    </mat-form-field>
                  
                    <mat-form-field style="width: 95%;" appearance="outline">
                      <mat-label>{{ 'DatosAdicionales' | translate }}:</mat-label>
                      <textarea id="additionaldata" name="additionaldata" [(ngModel)]="formData.additional_data" required matInput placeholder="Placeholder" matTextareaAutosize matAutosizeMinRows="3"></textarea>
                    </mat-form-field>
                
              
                  <div style="margin-top: 10px; margin-bottom: 10px;">
                    <button style="margin-right: 15px;" type="submit" class="btn btn-primary">{{ 'NuevaDireccion' | translate }}</button>
                    <button  class="btn btn-primary" (click)="hidePopup()" >{{ 'Cancelar' | translate }}</button>
                  </div>
                  

              </form>
              
              

              
            </div>
            
          </mat-tab>

          <mat-tab label="{{ 'Pedidos' | translate}}">
            <app-pedidos></app-pedidos>
          </mat-tab>

        </mat-tab-group>

      </mat-card-content>

        
    </mat-card>
</div>