.cart-card {
    width: 300px; /* Ancho deseado del card */
    max-height: 400px; /* Altura máxima para evitar un card excesivamente alto */
    overflow-y: auto; /* Habilita el desplazamiento vertical si es necesario */
    margin: 10px; /* Margen alrededor del card */
  }
  
  .cart-image {
    width: 50px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
  }
  