<div>
  <div *ngIf="productos.length > 0">
    <div *ngFor="let product of productos;">
      <mat-card class="cart-card">
        <mat-card-content>
          <img [src]="'assets/images/' + product.imagen" alt="Imagen del producto" class="cart-image" [routerLink]="['/productos', product.id]">
          <span style="margin-left: 15px;" class="fw-bold"> {{ product.nombre }} &nbsp;</span>
          <span>{{product.cantidad}} x {{product.precio}} €</span>
          <button mat-mini-fab (click)="borrarItem(product.id)" class="delete-button float-end">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div *ngIf="productos.length === 0">
    <span>{{ 'Vacio' | translate}}</span>
  </div>

  <div *ngIf="productos.length > 0" class="total-container">
    <span class="total-text">Total: {{ calcularTotal() }} €</span>
    <button (click)="pagar()" class="custom-button">Pagar</button>
  </div>
</div>