<div class="container">
  
    <h1 style="color:white;">Cesta</h1>
    <div class="mt-5 mb-5" *ngIf="productos.length > 0; else vacio">
      <div class="cart-item" *ngFor="let item of productos">
        <img [src]="'assets/images/' + item.imagen" alt="{{ item.nombre }}" class="product-image" [routerLink]="['/productos', item.id]">
        <mat-card class="product-card">
          <mat-card-content>
            <div class="product-details">
              <div class="row">
                <div class="col-7">
                  <h3>{{ item.nombre }}</h3>
                  <p>{{ item.descripcion }}</p>
                </div>
                <div class="col-5">
                  <div class="quantity-controls">
                    <button class="quantity-button" mat-icon-button (click)="disminuirCantidad(item)">
                      <mat-icon>remove</mat-icon>
                    </button>
                    <span class="quantity">{{ item.cantidad }}</span>
                    <button class="quantity-button" mat-icon-button (click)="aumentarCantidad(item)">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div class="space-between">
                <p>Precio: {{ item.precio * item.cantidad }} €</p>
                <button mat-mini-fab (click)="eliminarProducto(item)" class="delete-button">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="address-select mt-4" *ngIf="direcciones !== null && direcciones.length > 0">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'Selecciona tu dirección' | translate }}</mat-label>
          <mat-select [(ngModel)]="selectedAddress" [disabled]="direcciones.length === 0">
            <mat-option *ngIf="direcciones.length === 0" disabled>
              {{ 'Por favor añade primero una direccion en tu perfil' | translate }}
            </mat-option>
            <mat-option *ngFor="let address of direcciones" [value]="address">
              {{ address.street_and_number }}, {{ address.address_town }}, {{ address.address_province }}, {{ address.address_country }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="address-select mt-4" *ngIf="direcciones.length == 0">
        <button mat-raised-button routerLink="/perfil">
          {{ 'carritoDireccionAdd' | translate}}
        </button>
        <span style="margin-left: 12px;" class="text-white">{{ 'warningDireccion' | translate }}</span>
      </div>

      <div class="total">
        <p class="textoTotal">Total: {{ calcularTotal() }} €</p>
        <button mat-stroked-button (click)="pagar()" [disabled]="!selectedAddress" class="pay-button">Pagar</button>
      </div>
    </div>
    <ng-template #vacio>
      <p class="empty-text">No hay productos en la cesta</p>
    </ng-template>
  </div>
  
