@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-color:#000217 !important;
  margin: 0; /* Elimina el margen predeterminado del body */
  padding: 0; /* Elimina el relleno predeterminado del body */
}

a:hover{
    cursor:pointer;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--underline-color, #000);
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--underline-color, #000);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hover-underline-animation[data-underline-color="white"] {
    --underline-color: white;
  }
  .hover-underline-animation[data-underline-color="blue"] {
    --underline-color: #0087ca;
  }

  .hover-underline-animation[data-underline-color="black"] {
    --underline-color: #010101;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-button {
  color: rgb(87, 87, 87);
  background: transparent;
  border: 2px solid rgb(87, 87, 87);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.custom-button:hover {
  color: rgb(0, 0, 0);
  background: rgba(37, 37, 37, 0.3); /* Fondo transparente azul al hacer hover */
  border-color: rgb(0, 0, 0);
}
