@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-color:#000217 !important;
  margin: 0; /* Elimina el margen predeterminado del body */
  padding: 0; /* Elimina el relleno predeterminado del body */
}

a:hover{
    cursor:pointer;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--underline-color, #000);
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--underline-color, #000);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hover-underline-animation[data-underline-color="white"] {
    --underline-color: white;
  }
  .hover-underline-animation[data-underline-color="blue"] {
    --underline-color: #0087ca;
  }

  .hover-underline-animation[data-underline-color="black"] {
    --underline-color: #010101;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-button {
  color: rgb(87, 87, 87);
  background: transparent;
  border: 2px solid rgb(87, 87, 87);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.custom-button:hover {
  color: rgb(0, 0, 0);
  background: rgba(37, 37, 37, 0.3); /* Fondo transparente azul al hacer hover */
  border-color: rgb(0, 0, 0);
}

.tp-blue {
  text-transform: capitalize !important;
  background: #5a7ce2;
  background: -moz-linear-gradient(-45deg, #5a7ce2 0, #8283e8 50%, #6624c8 51%, #565bd8 71%, #575cdb 100%);
  background: -webkit-linear-gradient(-45deg, #5a7ce2 0, #8283e8 50%, #6624c8 51%, #565bd8 71%, #575cdb 100%);
  background: linear-gradient(135deg, #5a7ce2 0, #8283e8 50%, #6624c8 51%, #565bd8 71%, #575cdb 100%);
  background-size: 400% 400%;
  animation: AnimationName 4s ease infinite;
  animation-delay: 2s;
  border: medium;
}

.tp-btn {
  text-transform: capitalize !important;
  border-radius: 5px !important;
  margin: 10px auto;
  font-size: 14px;
  color: #fff !important;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 6.5px 30px !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .14);
  text-transform: uppercase;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, .2);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.tp-btn:hover {
  background: black !important;
}

@keyframes AnimationName {
  0% {
      background-position: 0 31%;
  }
  50% {
      background-position: 100% 70%;
  }
  100% {
      background-position: 0 31%;
  }
}
