<div class="container carousel-container">
    <div class="row mt-5">
      <h2 class="text-white mb-0 titulo">{{ 'topVentas' | translate }}</h2>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-2 col-sm-2 col-md-3 movimientoContainer">
        <button (click)="prev()" class="botonMovimiento" #prevButton>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>
      <div class="col-8 col-sm-8 col-md-6 scene">
        <div class="carousel" #carousel>
          <div class="carousel__cell" *ngFor="let destacado of productos;">
            <img [src]="'assets/images/' + destacado.imagen" alt="Imagen del producto" class="producto-imagen"
              [routerLink]="['/productos', destacado.id]" (error)="replaceImage($event)">
          </div>
        </div>
      </div>
      <div class="col-2 col-sm-2 col-md-3 movimientoContainer">
        <button (click)="next(true)" class="botonMovimiento" #nextButton>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
  